$red: #da3041

body
  background-image: url("/images/background.jpg")
  font-family: "Times New Roman", serif

header
  position: absolute
  top: 0
  right: 0
  left: 0
  width: 100%
  height: 445px
  z-index: -1
  background: url("/images/header.png") center top no-repeat
  vertical-align: top
  .logo
    margin-left: 70px
    margin-top: 10px

  .contact
    width: 330px
    margin-left: 120px
    display: inline-block
    color: white
    vertical-align: top
    .basket
      vertical-align: middle
      strong
        margin-left: 1em
      a.cabinet.button
        font-size: 25px
        margin-right: 20px
        color: white
    .review
      margin-top: 10px
      margin-left: 200px

  #cover
    display: none


.navbar-default
  font-family: Arial, Helvetica, sans-serif
  margin-top: 156px
  text-transform: uppercase
  background-color: transparent
  border: none
  li
    background: url("/images/separator.png") right no-repeat
    margin-right: 2px
    padding-right: 2px
    padding-left: 0
    a
      font-weight: bold
      font-size: 13px
      padding-left: 0
      color: rgb(88, 134, 173) !important

  li:last-child
    background: none

  .navbar-nav > .active > a
    background: transparent
  .navbar-nav > .active > a:hover
    background: transparent


@media (min-width: 1000px)
  .container
    width: 1004px
    padding: 0

  .wrap > nav > .container
    padding-left: 30px

  .wrap > .container > .main
    display: table-row
    background-color: #FCFDFE
    > div
      width: 740px
      padding: 10px 20px

  .wrap > .container > .main > *
    display: table-cell
    vertical-align: top

  .wrap > footer
    height: 397px
    background: url("/images/footer.jpg") no-repeat center

  #metrika
    margin-top: 90px

  aside
    width: 260px
    h1, h2
      font-size: 20px
    .statistics
      h2
        background-color: #00417C
        color: white
        text-align: center
        margin: 10px 0 0
        padding: 10px
      .content
        background: url("/images/statistics.png") repeat-y center
      ul
        list-style-type: none
        margin-bottom: 0
        padding-left: 0
        li
          color: white
          padding: 10px 30px
          border-top: solid 1px #4983bd
          border-bottom: solid 1px #005595
          span
            margin-right: 10px

    .news, .advices
      padding: 0 10px

    .news
      ul
        padding: 0
      .summary
        display: none
      .list-group-item
        padding: 10px 0 0
        border: none
        border-top: solid 1px #cde1ef
        a
          font-size: 14px
          font-family: Arial, Helvetica, sans-serif
          color: $red
        p
          font-size: 11px

    .advices
      ol
        padding-left: 20px

    .fraud
      height: 100px
      margin: 20px
      img
        float: left
      div
        float: right
        width: 150px
        color: #009EE5


footer
  text-align: center


form.search
  width: 650px
  input
    float: left
    margin-left: 20px
    padding-left: 15px
    width: 589px
    height: 29px
    border: none
    background: url("/images/search.png") center no-repeat
  button
    float: right
    width: 41px
    height: 29px
    border: none
    background: url("/images/search_button.png") center no-repeat


#linux
  position: fixed
  display: none
  vertical-align: top
  top: 33%
  background-color: #fff
  width: 100vw
  z-index: 1
  border-top: 1px solid black
  border-bottom: 1px solid black
  text-align: center
  margin: auto
  cursor: pointer
  > *
    width: 30%
    display: table-cell
    vertical-align: top
    padding: 1em
    &:first-child
      text-align: right
    &:last-child
      text-align: left
  .welcome
    font-size: 1.5em
    vertical-align: middle

.footer
  height: 60px
  padding-top: 20px
  text-align: center

#user-panel
  ul
    padding-left: 0
  li
    display: inline-block

.slides
  width: 700px

.home-index
  h3
    color: $red

.form-group.required label:after
  content: ' *'

footer
  .skype
    margin-top: 200px
    color: white
    padding-left: 20px
    > *
      margin-left: 10px
    a
      color: #76b6ff
  .social
    margin-top: 10px

.small
  display: block
  font-size: 0.5em
